:root {
	--base-background-color:#3c8dbc;
	--base-hover-color:#357ca5
}

body {
	font-family: "微软雅黑", "Times New Roman";
}

.table {
	font-size: 12px;	
}

.skin-custome .main-header .navbar {
  background-color: var(--base-background-color);
}
.skin-custome .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-custome .main-header .navbar .nav > li > a:hover,
.skin-custome .main-header .navbar .nav > li > a:active,
.skin-custome .main-header .navbar .nav > li > a:focus,
.skin-custome .main-header .navbar .nav .open > a,
.skin-custome .main-header .navbar .nav .open > a:hover,
.skin-custome .main-header .navbar .nav .open > a:focus,
.skin-custome .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-custome .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-custome .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-custome .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-custome .main-header .navbar .sidebar-toggle:hover {
  background-color: var(--base-background-color);
}
.skin-custome .main-header .navbar .dropdown-menu li a:hover {
  background: var(--base-background-color);
  color:#FFFFFF;
}
.skin-custome .main-header .logo {
  background-color: var(--base-background-color);
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-custome .main-header .logo:hover {
  background-color: var(--base-hover-color);
}
.skin-custome .content-header {
  background: transparent;
}
.skin-custome .wrapper,
.skin-custome .main-sidebar,
.skin-custome .left-side {
  background-color: #222d32;
}
.skin-custome .user-panel > .info,
.skin-custome .user-panel > .info > a {
  color: #fff;
}
.skin-custome .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-custome .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-custome .sidebar-menu > li:hover > a,
.skin-custome .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: var(--base-background-color);
}
.skin-custome .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-custome .sidebar a {
  color: #b8c7ce;
}
.skin-custome .sidebar a:hover {
  text-decoration: none;
}
.skin-custome .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-custome .treeview-menu > li.active > a,
.skin-custome .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-custome .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-custome .sidebar-form input[type="text"],
.skin-custome .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-custome .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-custome .sidebar-form input[type="text"]:focus,
.skin-custome .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-custome .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-custome .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 12px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 10px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}

.content-header .title {
  font-size: 14px;
  display: inline-block;
  padding-left: 10px;
  font-weight: 300;
  color:#666;
  border-left: 3px solid transparent;
  border-left-color: var(--base-background-color);
}

.box.box-primary {
  border-top-color: var(--base-background-color);
}

.btn-primary {
  background-color: var(--base-background-color);
  border-color: var(--base-hover-color);
  color: #fff
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: var(--base-hover-color);
  color: #fff
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: var(--base-background-color);
  border-color: var(--base-background-color);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: var(--base-background-color);
}

.required {
	color:red;
}
#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
.ztree * {
	padding:0;
	margin:0;
	font-size:12px;
	font-family: '微软雅黑', Verdana, Arial, Helvetica, AppleGothic, sans-serif
}

.loading-message {
  	display: inline-block;
  	min-width: 125px;
  	margin-left: -60px;
  	padding: 10px;
  	margin: 0 auto;
  	color: #000 !important;
  	font-size: 13px;
  	font-weight: 400;
  	text-align: center;
  	vertical-align: middle;
}
.loading-message.loading-message-boxed {
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
.loading-message > span {
    line-height: 20px;
    vertical-align: middle;
}

td.center {
	text-align:center;
}
td.right {
	text-align: right;
}

.pagination {
	font-size:12px;
	line-height: 1.5;
}
.modal-header {
	background-color: var(--base-background-color);
}

.modal-title {
	font-size: 12px;
	color: #FFF;
}
/*
 * Page: 400 and 500 error pages
 * ------------------------------
 */
.error-page {
  width: 600px;
  margin: 20px auto 0 auto;
}
@media (max-width: 991px) {
  .error-page {
    width: 100%;
  }
}
.error-page > .headline {
  float: left;
  font-size: 100px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .error-page > .headline {
    float: none;
    text-align: center;
  }
}
.error-page > .error-content {
  margin-left: 190px;
  display: block;
}
@media (max-width: 991px) {
  .error-page > .error-content {
    margin-left: 0;
  }
}
.error-page > .error-content > h3 {
  font-weight: 300;
  font-size: 25px;
}
@media (max-width: 991px) {
  .error-page > .error-content > h3 {
    text-align: center;
  }
}

#baseTable tbody td button{margin-left: 6px;}


/*---------------------------------------华丽丽的分割线20170216---------------------------------------------------*/
input.date-readonly[readonly] {
    background-color: #fff !important;
}
.common-date-icon-search {
	background-image: url(../images/icon-date.png) !important;
	background-repeat: no-repeat;
	background-position: right top;
	width: 20px;
	height: 23px;
	display: inline-block;
    position: absolute;
    right: 3px;
    top: 4px;
    z-index:100;
}
.common-date-icon {
	background-image: url(../images/icon-date.png) !important;
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 23px;
	display: inline-block;
    position: absolute;
    right: 20px;
    top: 24px;
    z-index:100;
}
.commondateicon{
    top: 30px !important;
}
.common-date-line {
    display: inline-block;
    position: absolute;
    right: -3px;
    top: 10px;
}
/*
.pagination > li > a, .pagination > li > span {
	margin-right: 8px !important;
}
*/
.pageing-form-select {
  display: block;
  text-align: left;
  height: 31px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  margin-right: 10px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.checkbox-width{width:36px;}/*checkbox固定宽度*/
.font-left{padding-left: 8px !important;text-align: left !important;}/*需左对齐的文字*/
.font-right{padding-right: 8px !important;text-align: right !important;}/*需右对齐的金额*/
.mar-bottom12{margin-bottom: 12px;}/*下外边距12px*/
.mar-bottom8{margin-bottom: 8px;}/*下外边距12px*/

/*2017-2-21  datetables分页样式添加 */
.dataTables_info{ float:right;margin-left:20px;}
.dataTables_length{float:right;    padding-top: 3px; margin-left:10px;}
.paging_full_numbers{float:right; }

/*2017-2-22  boot分页样式修改成datatable */
.disablednone a{border:none !important;padding: 6px 0 !important;}